@model SimpleCMS.Admin.Models.MenuItemsViewModel

@{
    ViewData["Title"] = "MenuItems Page";
}
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items![0].ParentId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Items![0].Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Items![0].Title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Items![0].Published)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Items![0].Link)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Items![0].Parent)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Items![0].ParentId)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

