@model SimpleCMS.Admin.Models.ViewModel.ArticleViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].SubTitle)
            </th>
          
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].Published)
            </th>
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].DateModified)
            </th>
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].DateCreated)
            </th>
    
            <th>
                @Html.DisplayNameFor(article => article.Articles![0].CreatedById)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articles)
        {
            <tr>
                     <td>
                    @Html.DisplayFor(articleItem => item.Id)
                    </td>
                <td>
                    @Html.DisplayFor(articleItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(articleItem => item.SubTitle)
                </td>
                <td>
                    @Html.DisplayFor(articleItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(articleItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(articleItem => item.DateModified)
                </td>
                <td>
                    @Html.DisplayFor(articleItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(articleItem => item.CreatedById)
                </td>
                <td>
                    @Html.DisplayFor(articleItem => item.Image)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>