@model SimpleCMS.Admin.Models.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(user => user.Users![0].Id)
            </th> *@
           <th>
                @Html.DisplayNameFor(user => user.Users![0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.Users![0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.Users![0].PasswordHash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
                <tr>
                        @*  <td>
                    @Html.DisplayFor(Item => item.Id)
                        </td> *@
                    <td>
                    @Html.DisplayFor(Item => item.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(Item => item.Email)
                    </td>
                    <td>
                    <input type="password" value="@item.PasswordHash" readonly />
                    </td>
                   @*  <td>
                    @Html.DisplayFor(Item => item.PasswordHash)
                    </td> *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
